html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: url('../images/logo2.webp') no-repeat center;
    background-size: cover;
}

.loginAndRegBox {
    width: 400px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.login-box{
    height: 270px;
}
.reg-box{
    height: 310px;
}
.title-box {
    height: 60px;
    background: url('../images/零件交易管理系统.png') no-repeat center;
}

.reg-box {
    display: none;
}

.layui-form {
    padding: 0 30px;
}

.links {
    display: flex;
    justify-content: flex-end;
}

.links a {
    font-size: 12px;
}

.layui-form-item {
    position: relative;
}

.layui-icon {
    position: absolute;
    top: 10px;
    left: 10px;
}

.layui-input {
    padding-left: 32px!important;
}